// Fonts
@import "fonts";
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~jquery-ui/themes/base/all.css";

// Components
@import "./components/navbar";
@import "./components/footer";
@import "./components/pages";
@import "./components/timeline";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

html,
body {
    background: url("/img/bg.jpg") no-repeat center center fixed;
    background-position-y: -70px;
    background-position-x: right;
    background-size: cover;
    color: #636b6f;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    transition: 1000ms ease;
}

ul {
    list-style: none;
}

.blue {
    background: $blue;
}

.cyan {
    background: $cyan;
}

.blue-light {
    background: $blue-light;
}

.blue-dark {
    background: $blue-dark;
}

.blue-gray {
    background: $blue-gray;
}

.blue-sky {
    background: $blue-sky;
}

.blue-sky-light {
    background: $blue-sky-light;
}

.blue-sky-dark {
    background: $blue-sky-dark;
}

.title-font,
.card-title {
    font-family: "Kaushan Script", helvetica;
    font-weight: 400;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.quote {
    font-size: 1.5rem;
    margin: 0px 5px;
}
