@import "../variables";

.navbar {
    & {
        padding: 15px 15%;
        height: 100px;
    }
    > .navbar-brand {
        > .navbar-logo {
            width: 75px;
        }
    }
    .navbar-nav {
        & {
            right: 0;
        }
        > .nav-item {
            & {
                transition-duration: 1000ms;
                padding: 5px 25px;
                margin: 0px 5px;
                border-top-right-radius: 6px;
                border-top-left-radius: 6px;
            }

            &.active {
                border-bottom: 2px solid rgba(0, 0, 0, 0.3);
            }
            &:hover {
                background: rgba(150, 150, 150, 0.1);
            }
            > .nav-link {
                & {
                    font-weight: 400;
                    color: $black;
                }

                .soon {
                    color: $white;
                    font-weight: 200;
                    font-style: italic;
                    font-size: 10px;
                }
            }
        }
    }
}
